<% include ./partials/header %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Registration Portal</h1>
    <p class="lead">Online registration portal</p>
    <a href="/dashboard" class="btn btn-outline-success">Apply Online</a>
  </div>
  
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Rules</h5>
            <img class="card-img-top" src="https://source.unsplash.com/NIJuEQw0RKg" width="200px" height="150px">
            <p class="card-text">Read the rules carefully before applying</p>
            <a href="#" class="btn btn-outline-primary">Read More</a>
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Documents required</h5>
            <img class="card-img-top" src="https://source.unsplash.com/5cFwQ-WMcJU" width="200px" height="150px">
            <p class="card-text">List of documents required for application</p>
            <a href="#" class="btn btn-outline-primary">Read More</a>
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Registration Fee</h5>
            <img class="card-img-top" src="https://source.unsplash.com/8lnbXtxFGZw" width="200px" height="150px">
            <p class="card-text">Registration fee to required to apply</p>
            <a href="#" class="btn btn-outline-primary">Read More</a>
          </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>