<% include ../partials/header %>
    <div class="container mt-4">
        <div class="card p-5">
            <h4 class="h4 card-title">Print Application Form</h4>
            <p class="card-text">Print your application form here<br><br>
            <a href="/<%= application._id %>/print" target="_blank" class="btn btn-secondary">Print</a>
            </p>
        </div>
    </div>
<% include ../partials/footer %>